.calculator {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
td {
	width: 96px;
	padding: 26px 0;
	text-align: center;
}
.calculator_output {
	background-color: black;
	color: white;
	border-radius: 9px 9px 0 0;
	text-align: right: 32px;
	cursor: default;
}
.calculator_fan {
	background-color: #ff9900;
	color: black;
	cursor: pointer;
	transition: opacity ease .25s;
}
.calculator_fun:hover {
	opacity: .75;
}
.calculator_numb {
	background-color: #bbbbbb;
	color: white;
	cursor: pointer;
	transition: opacity ease
}
.calculator_fun:hover {
	opacity: .75;
}
.calculator_enter {
	background-color: #f1f1f1;
	color: black;
	border-radius: 0 0 12px 12px;`
	cursor: pointer;
}
